.contentarea {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
}
       
.contentarea input,
.contentarea select {
    margin: 10px 0; 
    padding: 5px; 
    width: 30%;
    text-align: center; 
}

.contentarea label {
    margin-top: 10px; 
}
